body{
    background-color: #2c3e50;
    background-image: url("../img/wallpaper_mj.png");
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
}
h1
{
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #ecf0f1;
    text-shadow: 2px 2px #2c3e50;
    padding-bottom: 30px;
}
#header
{
    font-family: Arial, Helvetica, sans-serif;
    color: #ecf0f1;
    text-shadow: 1px 1px #2c3e50;
    font-size: 1.2em;
    text-align: center;
}
.userdata
{
    font-family: Arial, Helvetica, sans-serif;
    color: #ecf0f1;
    text-shadow: 1px 1px #2c3e50;
}
.userdata input
{
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    text-align: center;
    background-color: #ecf0f1;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #95a5a6;
    border-radius: 4px;
}
.titre input
{
    width: 150px;
    font-size: 0.9em;
}

td
{
    border-right: 2px solid #95a5a6;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 1em;
}
.armor
{
    border-right: none;
}
.smallImage
{
    border-right: none;
}
table
{
    border-spacing: 0px;
}
input
{
    font-size: 1em;
}