fieldset
{
    padding: 0px;
    border-color: #ecf0f1;
    color: #ecf0f1;
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px #2c3e50;
    font-size: 1.4em;
    border-bottom: none;
    border-radius: 5px;
    height: 100%;
    text-align: center;
}
#baseStats li
{
    border-bottom: 2px solid #ecf0f1;

}

fieldset p
{
    font-style: italic;
    margin-top: 0px;
}
#nomList
{
    border-top: 2px solid #ecf0f1;
}

fieldset ul
{
    margin-bottom: 0px;
}

#myarmor
{
    color: #F39C12;
}

fieldset ul li
{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}


#baseStats span
{
    color: #2ECC71;
    text-shadow: 1px 1px #2c3e50;
    font-weight: bold;
}

#state span
{
 font-weight: bold;
}

#myImgContainer
{
    display: flex;
    justify-content: center;
}
#state
{
    text-align: center;
}
legend
{
    font-size: 1.8em;
    text-align: center;
}


progress#myHp
{
   -webkit-appearance: none;
   appearance: none;
}
progress#myHp::-webkit-progress-value
{
    background: #00B16A;
    border-radius: 5px;
}

progress#myMana
{
   -webkit-appearance: none;
   appearance: none;
}
progress#myMana::-webkit-progress-value
{
    background:#3A539B;
    border-radius: 5px;
}


.infosAllies
{
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-bottom: 30px;
}

.infosAlliesNom
{
    border: 2px solid #ecf0f1;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


ul
{
    list-style: none;
    padding-left: 0px;
}

progress.hpbarre
{
   -webkit-appearance: none;
   appearance: none;
   margin-left: 10%;
   width: 13em;
}
progress.hpbarre::-webkit-progress-value
{
    background: #00B16A;
    border-radius: 5px;
}

progress.manabarre {
   -webkit-appearance: none;
   appearance: none;
   margin-left: 10%;
   width: 13em;


}
progress.manabarre::-webkit-progress-value
{
    background:#3A539B;
    border-radius: 5px;
}



#otherPlayerName
{
    font-size: 1.4em;
    text-align: center;
}
#otherPlayers
{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: #ecf0f1;

    
}
.stats
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-top: 15px;
}
